body a .btn {
}

.sec {
  display: flex;
  justify-content: center;
}
.contato {
  width: 100%;
  max-width: 500px;
}

.form {
  display: flex;
  flex-direction: column;
}

.cust {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}
textarea {
  height: 150px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.btn-custom {
  color: white;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  text-transform: uppercase;
  transition: background 0.4s;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
}
.btn-roxo {
  background: #7c25f9;
}
