.home {
    background-color: #011170;
    color:#d9d9d9;
  }
  
  /*start Navbar*/
  .navbar-custom {
    background-color: #011170!important; 
    margin-bottom: 60px;
  }
  .nav-link{
    color:#d9d9d9 !important;
  }
  
  .nav-link:hover:not(.active), .dropdowm-item:hover{
    color:#FFF !important;
    font-weight: bold;
  }
  .nav-link:hover:not(.active), .dropdowm-item, .drop{
  font-weight: bold;
  }

  .dropdown-menu{
    
    font-weight: bold;
    background-color: rgba(1, 17, 112, 0.5) !important;
  }

  .dropdown-item{
    color: #FFFFFF !important;
  }

  .dropdown-item:hover{
    color: #011170 !important;
  }
  
  /*end nvbar*/
  
  footer{
    color: #d9d9d9;
    position: absolute, top 0;
    background-color: rgba(0,0,0,0.1)
  }
  /*startcontainer flex-box*/
  /* .container{
    flex-basis: 0;
    flex-grow:1;
    flex-shrink: 1; 
  } */
  /*end container flex-box*/
  /*image Carousel*/
  .hm-cr{
    border-radius: 50%;
  }
  .hm{
    border-radius: 50%;
  }

  .home a{
    color:#d9d9d9;  
  }

  .home a:hover{
    color:#FFFFFF;  
  }
  