/*starter template*/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

body {
    
    background-color: #d9d9d9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

main{
    margin:0!important;
    padding:0!important;

}

.paragraph{
    margin-left: 20px;
}

.space{
    height: 20px;
}

.midia {
    color: #333333;
    font-size: 2rem;
}

.midia:hover{
    color: rgba(255,255,255,0.5)
}

html {
    scroll-behavior: smooth;
}

#alertCookie{
    background-color: rgba(0,0,0,0.65)!important;
    color: #F2F2F2;
    margin: 0;
    position: fixed;
    z-index: 10;
    width: 100%;
    border: 0;
    bottom: 0;

}

.lnkicon{
    color: rgba(255,255,255,.5);   
}

.lnkicon:hover{
    color: rgba(255,255,255,.75);   
}

#subir{
	position:fixed;
	bottom:1.5em;
	right:1.5em;
}
