#inicio {
    background-image: url("../../images/fundo-netblue.jpg");
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #F2F2F2;
    
}

.light {
    color: #f2f2f2;
}

.light-title {
    color: #fff;
}

.dark {
    color: #595959;
}

.dark-title {
    color: #262626;
}

#saiba, #quem {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fcfce8;
}

#diario {
    padding-top: 20px;
    padding-bottom: 20px;
}